@media (max-width: 768px) {
   .section {
      width: 100%;
   }
}

body {
   font-family: 'Syncopate', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
   color: #4d2323;
   margin: 0;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   border: 1px solid rgb(58, 15, 229);
}

.main-container {
   border: 1px solid rgb(26, 255, 125);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.section {
   width: 50%;
}

.section-title {
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 5px;
   color: #829985;
}

.nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
}

.nav-link {
   border: 1px solid black;
   padding: 0 20px;
   line-height: 50px;
   transition: 3s;
   color: #3fc551;
   text-decoration: none;
   transition: color 0.5s;
}

.nav-link:hover {
   color: #2d1fc8;
}

.link {
   text-decoration: none;
   color: #829985;
   transition: color 0.5s;
}

.link:hover {
   color: #5d7260;
}

html {
   scroll-behavior: smooth;
}

.footer {
   display: block;
   background-color: rgb(174, 210, 189);
}

.info {
   display: flex;
   justify-content: space-between;
   padding: 20px;

}

.img-logo {
   width: 150px;
}